// ratio: 200px 30px

$size: 100px;
$shadow-size: 15px;
$pink-shadows: #C88BA7;
$pink: #FBAED2;
$light-pink: #FBC4DE;

body {
  background-color: $light-pink;
}

.block {
  background: $light-pink;
  display: inline-block;
  margin: 0 1em 1em 0;
}

.container {
  width: 70%;
  margin: 10px auto;
  position: relative;
  text-align: center;
}

.moon-outline {
  position: relative;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 5px solid $pink-shadows;
  background-color: $pink;
}

.moon-new {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $pink-shadows;
  top: 50%;
  left: 50%;
  margin: -($size/2) 0px 0px (-$size/2);
}

.moon-waning-crescent {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  box-shadow: inset ($shadow-size) 0px 0 0 $pink;
  background-color: $pink-shadows;
  top: 50%;
  left: 50%;
  margin: -($size/2) 0px 0px (-$size/2);
}

.moon-third-quarter {
  position: absolute;
  width: ($size/2);
  height: $size;
  border-bottom-right-radius: ($size/2);
  border-top-right-radius: ($size/2);
  border-left: 0;
  margin: 0px 0px 0px ($size/2);
  background-color: $pink-shadows;
}

.moon-waning-gibbous {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  box-shadow: inset (-$shadow-size) 0px 0 0 $pink-shadows;
  background-color: $pink;
  top: 50%;
  left: 50%;
  margin: -($size/2) 0px 0px (-$size/2);
}

.moon-full {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $pink;
  top: 50%;
  left: 50%;
  margin: -($size/2) 0px 0px (-$size/2);
}

.moon-waxing-gibbous {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  box-shadow: inset ($shadow-size) 0px 0 0 $pink-shadows;
  background-color: $pink;
  top: 50%;
  left: 50%;
  margin: -($size/2) 0px 0px (-$size/2);
}

.moon-first-quarter {
  position: absolute;
  width: ($size/2);
  height: $size;
  border-bottom-left-radius: ($size/2);
  border-top-left-radius: ($size/2);
  border-right: 0;
  margin: 0px 0px 0px 0px;
  background-color: $pink-shadows;
}

.moon-waxing-crescent {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  box-shadow: inset (-$shadow-size) 0px 0 0 $pink;
  background-color: $pink-shadows;
  top: 50%;
  left: 50%;
  margin: -($size/2) 0px 0px (-$size/2);
}

.moon {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  box-shadow: inset (-$shadow-size) (-$shadow-size) 0 0 $pink-shadows;
  background-color: $pink;
  top: 50%;
  left: 50%;
  margin: -($size/2) 0px 0px (-$size/2);
}

