<!-- !-->
<div class="container">
  <div class="block moon-outline">
    <div class="moon-new"></div>
  </div>

  <div class="block moon-outline">
    <div class="moon-waning-crescent"></div>
  </div>

  <div class="block moon-outline">
    <div class="moon-third-quarter"></div>
  </div>

  <div class="block moon-outline">
    <div class="moon-waning-gibbous"></div>
  </div>

  <div class="block moon-outline">
    <div class="moon-full"></div>
  </div>

  <div class="block moon-outline">
    <div class="moon-waxing-gibbous"></div>
  </div>

  <div class="block moon-outline">
    <div class="moon-first-quarter"></div>
  </div>

  <div class="block moon-outline">
    <div class="moon-waxing-crescent"></div>
  </div>

  <div class="block moon-outline">
    <div class="moon-new"></div>
  </div>
</div>